*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: linear-gradient(to right,brown,yellow,orange);
}

.content{
	width: 100vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*     Navbar         */
@media screen and (min-width: 850px){
	nav{
		width: 100%;
		height: 15vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav .logo{
		width: 30%;
		text-align: center;
	}

	nav .menu{
		width: 30%;
		display: flex;
		justify-content: space-around;
	}

	.info1,.info2,.info3,.info4{
		margin: 30px 0;
		width: 50vw;
		height: 60vh;
		background: whitesmoke;
	}

	.info10,.info20,.info30,.info40{
		margin: 30px 0;
		width: 50vw;
		height: 80vh;
		background: whitesmoke;
	}

	.image img{
		width: 50vw;
		height: 30vh;
	}
}

@media screen and (max-width: 850px){
	nav{
		width: 100%;
		height: 15vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav .logo{
		width: 40%;
		text-align: center;
	}

	nav .menu{
		width:40%;
		display: flex;
		justify-content: space-around;
	}

	.info1,.info2,.info3,.info4{
		margin: 25px 0;
		width: 50vw;
		height: 60vh;
		background: whitesmoke;
	}

	.info10,.info20,.info30,.info40{
		margin: 30px 0;
		width: 50vw;
		height: 80vh;
		background: whitesmoke;
	}

	.image img{
		width: 50vw;
		height: 30vh;
	}
}

@media screen and (max-width: 540px){
	nav{
		width: 100%;
		height: 15vh;
		padding: 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	nav .logo{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	nav .menu{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.info1,.info2,.info3,.info4{
		margin: 25px 0;
		width: 60vw;
		height: 60vh;
		background: whitesmoke;
	}

	.info10,.info20,.info30,.info40{
		margin: 30px 0;
		width: 60vw;
		height: 80vh;
		background: whitesmoke;
	}

	.image img{
		width: 60vw;
		height: 30vh;
	}
}

.logo h1:hover{
	text-shadow: 2px 2px 1px red;
}

.menu a{
	text-decoration: none;
	color: whitesmoke;
}
.menu a:hover{
	text-shadow: 1px 1px 5px red;
	text-decoration: underline;
	color: hotpink;
}

#more1,#more2,#more3,#more4{
	display: none;
}

.about{
	margin: 20px 20px;
	text-align: justify;
}

.btn button{
	margin: 10px 20px;
	color: white;
	background: grey;
}
.btn button:hover{
	color: red;
	background: brown;
	font-weight: bolder;
}